<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6cb7fc6b-49ab-4d63-8859-253aa4f3db1f" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-document-spreadsheet</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d08f4-fbc0-7a86-8ec2-16bd6334a7d2">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>