<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a23534b-ddbd-4048-b901-832d1dd2e11c" Alias="authorPage" Level="1">
  <Info>
    <Name>Author page</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AuthorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d0a90-cbb3-7abf-99da-8ff15aabe2b5">AuthorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>