<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c85ea694-e6b7-4e86-85ba-a2af1fd60f7f" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c95b2-0e26-723d-bc77-b3ad5840ef1f">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>