<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6def1361-7d3a-4848-81ae-14c27e675823" Alias="product" Level="1">
  <Info>
    <Name>Product</Name>
    <Icon>icon-diamond</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d08ee-e5fa-789a-8d22-021e9512ca13">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c85ea694-e6b7-4e86-85ba-a2af1fd60f7f" SortOrder="0">content</ContentType>
    <ContentType Key="6def1361-7d3a-4848-81ae-14c27e675823" SortOrder="1">product</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>