<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fc4bc4e-584b-482f-a3c0-b55fff5f119a" Alias="Article page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticlePage</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-03-20T08:40:45</CreateDate>
    <NodeName Default="Article page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d08f4-fbc0-7a86-8ec2-16bd6334a7d2">Article</Template>
  </Info>
  <Properties />
</Content>