<?xml version="1.0" encoding="utf-8"?>
<Content Key="39f7eb13-7b15-4ce3-bc8c-288507a4fd47" Alias="Author page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AuthorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>authorPage</ContentType>
    <CreateDate>2026-03-20T09:26:28</CreateDate>
    <NodeName Default="Author page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d0a90-cbb3-7abf-99da-8ff15aabe2b5">AuthorPage</Template>
  </Info>
  <Properties />
</Content>