<?xml version="1.0" encoding="utf-8"?>
<Content Key="66a53b56-dd51-4f04-9c66-c2f30f807fa2" Alias="Event page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventPage</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-03-20T08:40:54</CreateDate>
    <NodeName Default="Event page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d08f6-6eff-75d2-bee1-13b2d51f44ea">EventPage</Template>
  </Info>
  <Properties />
</Content>