<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ad76970-4e9d-4e3b-9af0-724e5a9d6f5a" Alias="Landing page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LandingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2026-03-20T08:41:03</CreateDate>
    <NodeName Default="Landing page" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d08f6-108b-7e0d-850d-5b54e519b290">LandingPage</Template>
  </Info>
  <Properties />
</Content>