<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee53df2f-ff0d-4b1a-a25d-3d5e9abaf430" Alias="Product page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductPage</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2026-03-20T01:51:37</CreateDate>
    <NodeName Default="Product page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d08ee-e5fa-789a-8d22-021e9512ca13">Product</Template>
  </Info>
  <Properties />
</Content>