<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d09392e-ced2-4daf-a828-494569cddde2" Alias="Test 2 (Not published)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test2NotPublished</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2026-03-02T12:21:02</CreateDate>
    <NodeName Default="Test 2 (Not published)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="019c95b2-0e26-723d-bc77-b3ad5840ef1f">Content</Template>
  </Info>
  <Properties />
</Content>